@media (prefers-color-scheme: dark) {
	:root {
		--accent-color: white;
		--accent-color-dark: hsl(0, 0%, 65%);
		--seconday-color: hsl(0, 0%, 10%);
		--body-background-color: hsl(0, 0%, 16%);
	}
	/* CSS placed here will affect users of the Vector skin */
	/* Override Vector colour scheme to make it dark */
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: hsl(0, 0%, 76%);
	}
	hr {
		color: hsl(0, 0%, 13%);
	}
	.editOptions {
		background-color: hsl(0, 0%, 20%);
		border-color: hsl(0, 0%, 30%);
	}
	input,
	textarea {
		background-color: hsl(0, 0%, 30%);
		border-color: hsl(0, 0%, 30%);
		color: hsl(0, 0%, 76%);
	}
	a {
		color: var(--accent-color);
	}
	.mw-body a {
		text-decoration: underline;
	}
	:root .mw-headline a,
	:root code a {
		text-decoration: none;
	}
	a:visited,
	.mw-body a.external:visited,
	.mw-body a.extiw:visited {
		color: var(--accent-color-dark);
	}
	a.new,
	#p-personal a.new {
		color: hsl(0, 69%, 57%);
	}
	div.thumbinner,
	.catlinks {
		background-color: hsl(0, 0%, 30%);
		border-color: hsl(0, 0%, 40%);
	}
	#toc,
	div.toc,
	ul#filetoc,
	li.gallerybox div.thumb {
		background-color: hsl(0, 0%, 30%);
		border-color: hsl(0, 0%, 40%);
	}
	code {
		background-color: inherit;
		color: inherit;
		border-color: hsl(0, 0%, 45%);
	}
	table.mw_metadata td,
	table.mw_metadata th,
	table.wikitable,
	table.wikitable > * > tr > th,
	table.wikitable > * > tr > td,
	pre {
		color: hsl(0, 0%, 76%);
		background-color: hsl(0, 0%, 30%);
		border-color: hsl(0, 0%, 40%);
	}
	table.mw_metadata th,
	table.wikitable > * > tr > th {
		background-color: hsl(0, 0%, 35%);
	}
	table.diff {
		background-color: hsl(0, 0%, 30%);
	}
	td .diffchange {
		color: hsl(0, 0%, 30%);
	}
	#pagehistory li.selected,
	td.diff-context {
		background-color: inherit;
		color: inherit;
	}
	ul.mw-gallery-packed-hover li.gallerybox:hover div.gallerytextwrapper,
	ul.mw-gallery-packed-overlay li.gallerybox div.gallerytextwrapper,
	ul.mw-gallery-packed-hover li.gallerybox.mw-gallery-focused div.gallerytextwrapper {
		background-color: hsla(0, 0%, 0%, 0.8);
	}
	#left-navigation div.vectorTabs,
	#right-navigation div.vectorTabs {
		background-image: linear-gradient(to top, var(--seconday-color), transparent);
		background-color: transparent;
	}
	#left-navigation div.vectorTabs ul,
	#right-navigation div.vectorTabs ul {
		background-color: var(--seconday-color);
	}
	#left-navigation div.vectorTabs ul li,
	#right-navigation div.vectorTabs ul li {
		background-color: hsl(0, 0%, 13%);
		background-image: linear-gradient(var(--body-background-color) 20%, hsl(0, 0%, 12.9%));
	}
	#left-navigation div.vectorTabs li.new a,
	#right-navigation div.vectorTabs li.new a,
	#left-navigation div.vectorTabs li.new a:visited,
	#right-navigation div.vectorTabs li.new a:visited {
		color: hsl(0, 69%, 57%);
	}
	#left-navigation div.vectorTabs li.selected,
	#right-navigation div.vectorTabs li.selected {
		background-color: hsl(0, 0%, 20%);
		background-image: linear-gradient(var(--accent-color) 0, hsl(0, 0%, 20%) 10%);
	}
	#left-navigation div.vectorTabs li.selected a,
	#right-navigation div.vectorTabs li.selected a,
	#left-navigation div.vectorTabs li.selected a:visited,
	#right-navigation div.vectorTabs li.selected a:visited {
		color: hsl(0, 0%, 62%);
	}
	#left-navigation div.vectorTabs li a,
	#right-navigation div.vectorTabs li a {
		color: var(--accent-color);
	}
	#left-navigation div.vectorTabs span,
	#right-navigation div.vectorTabs span {
		background: transparent;
	}
	div#mw-head #right-navigation div.vectorMenu h3 {
		background: inherit;
	}
	div#mw-head div.vectorMenu h3 span {
		color: var(--accent-color);
	}
	div.vectorMenu h3 a {
		background: inherit;
	}
	div.vectorMenu ul {
		background-color: black;
		border-color: hsl(0, 0%, 5%);
	}
	div.vectorMenu li a {
		color: var(--accent-color);
	}
	div.vectorMenu li.selected a,
	div.vectorMenu li.selected a:visited {
		color: hsl(38, 12%, 48%);
	}
	div.vectorMenu#p-cactions div.menu {
		border-color: hsl(0, 0%, 40%);
	}
	div.vectorMenu#p-cactions ul {
		background-color: hsl(0, 0%, 30%);
	}
	#mw-navigation div#mw-panel div.portal {
		background-image: none;
		border-top-color: hsl(0, 0%, 30%);
	}
	body {
		background-color: var(--body-background-color);
	}
	.mw-body {
		border-color: var(--seconday-color);
		background-color: hsl(0, 0%, 20%);
		color: hsl(0, 0%, 76%);
	}
	div#simpleSearch {
		border-color: hsl(0, 0%, 67%);
		color: black;
		background-color: white;
	}
	div#simpleSearch input {
		background-color: transparent;
		color: black;
	}
	div#simpleSearch #searchInput.placeholder {
		color: hsl(0, 0%, 60%);
	}
	div#simpleSearch #searchInput:-ms-input-placeholder {
		color: hsl(0, 0%, 60%);
	}
	div#simpleSearch #searchInput:-moz-placeholder {
		color: hsl(0, 0%, 60%);
	}
	div.vectorTabs ul li {
		background-color: hsl(0, 0%, 95%);
	}
	div.vectorTabs li.new a,
	div.vectorTabs li.new a:visited {
		color: hsl(0, 30%, 50%);
	}
	div.vectorTabs li.selected a,
	div.vectorTabs li.selected a:visited {
		color: hsl(0, 0%, 20%);
	}
	div.vectorTabs li a {
		color: var(--accent-color);
	}
	div.vectorMenu h3 span {
		color: hsl(0, 0%, 30%);
	}
	div.vectorMenu div.menu {
		background-color: white;
	}
	div.vectorMenu li a {
		color: var(--accent-color);
	}
	div.vectorMenu li.selected a,
	div.vectorMenu li.selected a:visited {
		color: hsl(0, 0%, 20%);
	}
	#mw-page-base {
		background-color: transparent;
		background-image: none;
	}
	div#mw-panel div.portal h3 {
		color: hsl(0, 0%, 60%);
	}
	div#mw-panel div.portal div.body ul li a {
		color: var(--accent-color);
	}
	div#mw-panel div.portal div.body ul li a:visited {
		color: hsl(0, 0%, 75%);
	}
	div#mw-panel div.portal.first {
		background-image: none;
	}
	div#footer ul li {
		color: hsl(0, 0%, 20%);
	}
	#pt-anonuserpage {
		color: hsl(0, 0%, 60%);
	}
}
