@import 'dark';
@import 'visualeditor-dark';
:root {
	--logo: url('/static/mediawiki.svg');
	scroll-behavior: smooth;
}
@media (prefers-color-scheme: dark) {
	:root {
		--logo: url('/static/mediawiki-light.svg');
	}
}
:root .mw-wiki-logo {
	background-image: var(--logo);
}
:root .wikitable {
	display: block;
	overflow: auto;
}
:root div#p-logo {
	display: block;
}
